
.custom-toggler {
  border-color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;

}

#navgetquote {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
}

#navgetquote .btn {
  width: 300px;
  height: 50px;
  font-weight: bold;
}
.btn-outline-primary {
  background-color: var(--primary-blue);
  color: white;
  border: none;
  border-radius: 20px;
}
