/* Custom CSS for photobooth website */

:root {
  --primary-blue: #3c6bca;
  --primary-gold: #eab105;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffffff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
}

html {
  min-width: 320px;
}

.navbar {
  background-color: rgb(32, 30, 28);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  font-size: 1.2rem;
}

/* ------logo-------- */
.navbar-empty {
  width: 200px;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
}
.navbar-brand {
  position: fixed;
  top: 0;
}
.navbar-brand img {
  width: 200px;
}

.nav-link {
  align-items: center;
  justify-content: center;
  width: 125px;
  transition: all 0.3s ease;
  height: 100%;
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-nav a:hover {
  color: var(--primary-gold);
  /* font-weight: bold; */
  transition: all 0.3s ease;
}

.navbar-nav a.selected {
  text-decoration: underline;
  text-decoration-color: var(--primary-gold);
  text-decoration-thickness: 3px;
}

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
  margin-top: 55px;
}

.slide-image {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.carousel-fade .carousel-inner .carousel-item {
  height: 90vh;
  background-position: center;
  background-size: cover;
}

/* .carousel-fade .carousel-inner .carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
} */

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
  width: 100%;
}

.carousel-item .carousel-caption h1 {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.carousel-fade .carousel-inner .carousel-item .carousel-caption p {
  font-size: 1.5rem;
}
.carousel-fade .carousel-inner .carousel-item .carousel-caption .btn {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.carousel-fade .carousel-indicators li {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  cursor: pointer;
}
.container {
  max-width: 1300px;
}
.title {
  font-weight: bold;
  font-size: 2.5rem;
}
.service-dark-bg {
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warm-black);
  color: var(--just-white);
}

.service-detail--card {
  width: 90%;
  min-width: 288px;
  max-width: 320px;
  min-height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.service-card-h4 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}

.portfolio-title {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 0px 90px;
  color: var(--black);
}

.portfolio-text {
  margin: 20px 0;
  padding: 0 90px;
  font-size: 1.2rem;
}
.portfolio-detail--card {
  min-width: 140px;
  max-width: 380px;
  min-height: 150px;
  margin: 15px auto;
  padding: 15px;
}
.portfolio-card-h4 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
}
