/* Custom CSS for photobooth website */

:root {
  --bitcoin-orage: #f7931a;
  --soft-orage: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffffff;
}
.navbar {
  background-color: transparent; /* Set background color to transparent */
  position: absolute; /* Add position absolute */
  top: 0; /* Position navbar at top of slide image */
  width: 100%; /* Set navbar width to 100% */
  z-index: 2; /* Set z-index to be above slide image */
}
.nav-item .nav-link {
  color: #ffffff;
}
.container {
  max-width: 1200px;
}
.slide-image {
  height: 100vh;
  background-size: cover;
  background-position: center;
  /* Add position relative */
}
.navbar-brand {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}
/* Hero section style */
#home {
  position: relative;
  overflow: hidden;
}
.carousel-fade .carousel-inner .carousel-item {
  height: 90vh;
  background-position: center;
  background-size: cover;
}

.carousel-fade .carousel-inner .carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Set opacity for the overlay */
}
.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; /* Set the desired text color */
  z-index: 1;
  width: 100%; /* Add width to ensure full width centering */
}

.carousel-item .carousel-caption h1 {
  font-size: 4rem;
  margin-top: 0; /* Remove default margin */
  margin-bottom: 1rem; /* Add margin at the bottom for spacing */
}
.carousel-fade .carousel-inner .carousel-item .carousel-caption p {
  font-size: 1.5rem;
}
.carousel-fade .carousel-inner .carousel-item .carousel-caption .btn {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.carousel-fade .carousel-indicators li {
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Set the background color of the indicators with opacity */
  border: none;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  cursor: pointer;
}

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}
.title {
  font-weight: bold;
  font-size: 2.5rem;
}
.service-dark-bg {
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warm-black);
  color: var(--just-white);
}

.service-detail--card {
  width: 90%;
  min-width: 370px;
  max-width: 370px;
  min-height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.service-card-h4 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}

.portfolio-title {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 0px 90px;
  color: var(--black);
}

.portfolio-text {
  margin: 20px 0;
  padding: 0 90px;
  font-size: 1.2rem;
}
.portfolio-card-h4 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
}
